name: CD - Deploy to EC2

on:
  workflow_run:
    workflows: ["CI - Build & Test"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download image tag
        uses: actions/download-artifact@v4
        with:
          name: image-tag
          path: ./artifact

      - name: Load tag variable
        run: echo "TAG=$(cat ./artifact/tag.txt)" >> $GITHUB_ENV

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker stop taskboard || true
            sudo docker rm taskboard || true
            sudo docker pull ghcr.io/${{ github.repository_owner }}/taskboard-fastapi:${{ env.TAG }}
            sudo docker run -d --name taskboard -p 80:80 \
              -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
              -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
              -e AWS_REGION=${{ secrets.AWS_REGION }} \
              -e S3_BUCKET=${{ secrets.S3_BUCKET }} \
              ghcr.io/${{ github.repository_owner }}/taskboard-fastapi:${{ env.TAG }}
