name: CD - Deploy to EC2

on:
  workflow_run:
    workflows: ["CI - Build & Test"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download image tag
        uses: actions/download-artifact@v4
        with:
          name: image-tag
          path: ./artifact

      - name: Load tag variable
        run: echo "TAG=$(cat ./artifact/tag.txt)" >> $GITHUB_ENV

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_PUBLIC_IP }} << 'EOF'
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/taskboard:${{ env.TAG }}
          docker stop taskboard || true
          docker rm taskboard || true
          docker run -d -p 80:8000 --name taskboard ${{ secrets.DOCKERHUB_USERNAME }}/taskboard:${{ env.TAG }}
          EOF
