name: CD Pipeline

permissions:
  contents: read
  packages: write

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

env:
  IMAGE_NAME: taskboard-fastapi
  REGISTRY: ghcr.io/falconerr88

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t $REGISTRY/$IMAGE_NAME:latest .

      - name: Push Docker image
        run: docker push $REGISTRY/$IMAGE_NAME:latest

      - name: Debug workspace contents
        run: ls -R


      - name: Upload static files to S3 (via AWS CLI)
        working-directory: ${{ github.workspace }}
        run: |
          echo "Syncing static files..."
          ls -R ./app
          aws s3 sync ./app/static s3://${{ secrets.S3_BUCKET }}/ --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
                

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker stop taskboard || true
            sudo docker rm taskboard || true
            sudo docker pull ghcr.io/falconerr88/taskboard-fastapi:latest
            sudo docker run -d --name taskboard -p 80:80 \
              -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
              -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
              -e AWS_REGION=${{ secrets.AWS_REGION }} \
              -e S3_BUCKET=${{ secrets.S3_BUCKET }} \
              ghcr.io/falconerr88/taskboard-fastapi:latest
